<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Learn {{ query }}</title>
    
    <meta name="description" content="This is the description that shows up when you search Google!" />
    
    <meta name="robots" content="index, follow" />
    
    <meta name="keywords" content="#" />
    
    <meta name="author" content="#" />

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    
    <!-- <link type="text/css" rel="stylesheet" href="#" /> -->

    <!-- <script type="text/javascript" src="#"></script> -->

</head>

<body>

    <h1>You want to learn {{ query }}</h1>  

    <iframe width="480" height="360" src="//www.youtube.com/embed/{{ video_id }}?rel=0" frameborder="0" allowfullscreen></iframe>

</body>

</html>
